<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Projects</h1>
  <br/><br/>

  <div class="col-lg-6 mx-auto">
  <div class="list-group">
    <%= link_to "Picto Speak (OpenAI Vision + TTS)", picto_speak_path, class: "list-group-item list-group-item-action" %>
  </ul>
  </div>
</div>