<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Projects</h1>
  <br/><br/>

  <div class="col-lg-6 mx-auto">
  <ul class="list-group">
    <%# <li class="list-group-item">
      OpenAI Vision + Elevenlabs Voice
    </li> %>
  </ul>
  </div>
</div>